nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  .row.align-items-center
    .col-1
    .col-2
      .p-2
        img.img-fluid.w-50(src="./img/logo-white.svg", alt="")
    .col-9
      ul
        li
          a(data-scroll, href='index.pug#slider-section') Home
        li
          a(data-scroll, href='index.pug#about') Programs
        li
          a(data-scroll, href='index.pug#offerings') Offerings
        li
          a(data-scroll, href='http://fablabkerala.in/' target="_blank") Fablab
        li
          a(data-scroll, href='index.pug#partner-section') Partners
        //- li
        //-   a(data-scroll, href='#') Events
        li
          a(data-scroll, href='index.pug#apply') Apply
        li
          a(data-scroll, href='index.pug#ksum-footer') Contact
    