@import "./mixins";
#slider-section {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    background-color: rgba(31, 8, 8, .6);
    content: " ";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  #info-container {
    position: absolute;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
      color: white;
    }
    h2 {
      font-size: 60px;
      color: white;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
  .button {
    display: inline-block;
    // width: 150px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 50px;
    border: 1px white solid;
    color: white;
    transition: all .3s ease-in;
    margin: 0 auto;
    margin: 20px;
    padding: 10px 20px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      background: white;
      color: black;
    }
  }
}

#programs {
  #partners {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    margin: 0 auto;
    .partner-cover {
      width: 50%;
      padding: 5px;
      cursor: pointer;
      position: relative;
      display: flex;
      @include my_bp(sm) {
        width: 33%;
      }
      .partner-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 10px 0px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37, 37, 37, 0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        transition: all .3s ease-in-out;
        &:hover {
          border-color: rgba(37, 37, 37, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
          text-decoration: none;
          h3 {
            color: #00aef0;
          }
        }
        .logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        h3 {
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align: center;
          margin-top: 10px;
          transition: all .3s ease-in-out;
          color: black;
        }
      }
    }
  }
}

#offerings {
  #partners {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    .partner-cover {
      width: 50%;
      padding: 5px;
      cursor: pointer;
      position: relative;
      display: flex;
      @include my_bp(sm) {
        width: 33%;
      }
      &:hover {
        text-decoration: none !important;
      }
      .partner-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 10px 5px 10px 5px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37, 37, 37, 0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        transition: all .3s ease-in-out;
        &:hover {
          text-decoration: none !important;
          border-color: rgba(37, 37, 37, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
          h3 {
            color: #00aef0;
            text-decoration: none;
          }
        }
        .logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        h3 {
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align: center;
          margin-top: 10px;
          transition: all .3s ease-in-out;
          color: black;
        }
      }
    }
  }
}

#apply {
  .button {
    display: block;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 50px;
    border: 1px rgba(0, 0, 0, .4) solid;
    color: rgba(0, 0, 0, .4);
    transition: all .3s ease-in;
    margin: 0 auto;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      background: rgba(0, 0, 0, .4);
      color: white;
    }
  }
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .item {
      display: flex;
      //flex: 1 1 auto;
      width: 33%;
      height: 200px;
      &:before {
        padding-top: 100%;
      }
      .content {
        margin: 10px;
        padding: 10px;
        width: 100%;
        // border: 1px solid rgba(0, 0, 0, 0.24);
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.24);
      }
    }
  }
  .rates {
    display: flex;
    justify-content: center;
    .rate-item {
      display: flex;
      //flex: 1 1 auto;
      width: 250px;
      height: 250px;
      margin: 20px;
      &:before {
        padding-top: 100%;
      }
      .rate-content {
        border-radius: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
      }
    }
  }
}