doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      img.slide(src="./img/bg-robot.jpg")
      .container#info-container
        .row
          .col-sm-12
            h2 Palakkad Incubation Centre
            h2 for Startups (PICS)
            h1 Dream - Build - Grow
          .col-sm-12
            a.button(href="https://forms.gle/96mqrYxrCFUSbaQCA" target="_blank") Apply For Incubation
            a.button(href="http://fablabkerala.in" target="_blank") Book a Machine @ Fablab

    section#about.section-content
      .container
        .row
          .col-sm-12
            h2  About
            p Palakkad Incubation Centre for Startups (PICS) is a joint initiative of Kerala Startup Mission and Govt. Polytechnic College, Palakkad to promote innovation-based entrepreneurship in the region

    section#programs
      .container
        .row
          .col-sm-12
            h2.pb-3 Programs

          .col-sm-12
            #partners
              .partner-cover
                a.partner-item(href="http://ffs.startupmission.in" target="_blank")
                  .logo
                    img(src="./img/rise.png")
                  h3 Fail Fast or Succeed Program
              .partner-cover
                a.partner-item(href="http://startupmission.in/meetupcafe" target="_blank")
                  .logo
                    img(src="./img/meetup.jpg")
                  h3 Meetup Cafe
              .partner-cover
                a.partner-item(href="http://startups.startupmission.in" target="_blank")
                  .logo
                    img(src="./img/member.jpg")
                  h3 Membership

    section#offerings.section-content
      .container
        .row
          .col-sm-12
            h2.pb-3 Offerings
          .col-sm-12
            #partners
              a.partner-cover(href="http://fablabkerala.in" target="_blank")
                .partner-item
                  .logo
                    img(src="./img/fablab1")
                  h3 Fab Lab
              .partner-cover#manual2
                .partner-item
                  .logo
                    img(src="./img/coworking.png")
                  h3 Office Space
              a.partner-cover(href="https://startupmission.kerala.gov.in/mentors" target="_blank")
                .partner-item
                  .logo
                    img(src="./img/mentor.png")
                  h3 Mentors

    section#partner-section
      .container
        .row.justify-content-center.align-items-center
          .col-sm-12
            h2.pb-5 Partners
          .col-sm-4.text-center.py-4
            img.img-fluid(src="./img/logo.svg", alt="")
          .col-sm-4.text-center.py-4
            img.img-fluid(src="./img/iti.png", alt="")
        
    section#apply.section-content
      .container
        .row.align-items-start
          .col-sm-12
            h2.pb-3 Apply
            p Your Journey at Palakkad Incubator 

          .grid
            .item
              .content
                h4.text-center Step 1 - Meet us
                p.text-center Meet our team on Saturdays
            .item
              .content
                h4.text-center Step 2 - Apply
                p.text-center Apply through our online application.
                a.button(href="https://forms.gle/96mqrYxrCFUSbaQCA" target="_blank") Apply Now
            .item
              .content
                h4.text-center Step 3 - Incubate with us 
                ul.ml-5
                  li Selection process
                  li Fablab Facility
                  li 2-year Incubation Program
        
        .row
          .col-sm-12
            h2.pt-5.pb-3.text-center Rate
            .rates
              .rate-item
                .rate-content
                  p General
                  h3 Rs 1500/month
              .rate-item
                .rate-content
                  p Students
                  h3 Rs 500/month
                  small.px-3.text-center Students of Govt Ploytechnic College Palakkad

    section(style="line-height: 0;")
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1005705.1337893062!2d75.81158294113983!3d10.055120246640007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba86c3683a10f8b%3A0x8cce89f346b04ca5!2sGovernment%20Polytechnic%20College%2CPalakkad!5e0!3m2!1sen!2sin!4v1579151838519!5m2!1sen!2sin' width='100%' height='450' frameborder='0' style='border:0' allowfullscreen='')
      
    //- .floor
    //- .preloader
    //- .curtain-container
    //-   .S
    //-   .S
    //-   .S
    //-   .S
    //-   .S
    //-   .S 
    //-   .S 
    //-   .S
    //-   .S
      
    //-   .R
    //-   .R
    //-   .R
    //-   .R
    //-   .R
    //-   .R 
    //-   .R 
    //-   .R
    //-   .R

    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   

      